# Capturing Sentimental Opinions on Presidential Candidates

In this project, we'll aim to capture the opinions and sentiments of a sample of electoral voters. We'll do this by analyzing their tweets on a daily basis over a period of time to see how these opinions are varying or changing over time. 

Can analyzing sentiments of tweets from a sample during a given period provide insight to how an election will swing? The main goal of the project is to examine and analyze tweets containing reference to candidates vying for a presidential spot, classify these tweets into positive, negative or neutral sentiments and from these, try to conclude on how much online sentiments provide for a good indicator to predict the results of an election.

## Tutorials

#### You can run each cell below by pressing 'Shift' + 'Enter'. Inserting, deleting cells etc can be done with the menu items at the top left.

In [18]:
#import data exploration packages
import pandas as pd 
import os #operating system package

In [19]:
#basically just to return the current directory
current_working_directory = os.getcwd()

In [20]:
print(current_working_directory)

C:\Users\Wagitel\Desktop\win10\DAVID\Github\sentimentanalysis

In [21]:
#Here, I create a dataframe (df) by reading the csv from the filepath where it is located using pandas (pd)
df = pd.read_csv(current_working_directory + '\sentiment_labelled_sentences\\amazon_cells_labelled.csv')

In [22]:
#head returns the first five lines of the file
#You can see the file doesn't have headers and some of the (0 - negative and 1 - positive) labels are out of place 
df.head()

,So there is no way for me to plug it in here in the US unless I go by a converter.,0,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Good case,Excellent value.,1,NaN,NaN,NaN
1,Great for the jawbone.,1,NaN,NaN,NaN,NaN
2,Tied to charger for conversations lasting more...,0,NaN,NaN,NaN,NaN
3,The mic is great.,1,NaN,NaN,NaN,NaN
4,I have to jiggle the plug to get it to line up...,0,NaN,NaN,NaN,NaN

In [23]:
#shows information about the dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 6 columns):
So there is no way for me to plug it in here in the US unless I go by a converter.    999 non-null object
0                                                                                     999 non-null object
Unnamed: 2                                                                            229 non-null object
Unnamed: 3                                                                            55 non-null object
Unnamed: 4                                                                            14 non-null object
Unnamed: 5                                                                            4 non-null float64
dtypes: float64(1), object(5)
memory usage: 46.9+ KB

### QUICK TASK - Can you adjust the dataframe to include a header row and also make it a 2-column dataframe??
#### PS - Google is your friend :)

In [24]:
Cov = pd.read_csv(current_working_directory + '\sentiment_labelled_sentences\\amazon_cells_labelled.csv', sep='\t', header=None)

In [26]:
df.columns = ["Sequence", "Start", "End", "Coverage", "Biscuit", "Drink"]

In [58]:
df.head()

                                            Sequence              Start
0                                          Good case   Excellent value.
1                             Great for the jawbone.                  1
2  Tied to charger for conversations lasting more...                  0
3                                  The mic is great.                  1
4  I have to jiggle the plug to get it to line up...                  0